<link rel="stylesheet" type="text/css" href="/style.css">

<div class="title">
  <h1>Log in to MakersBnB</h1>
</div>

<div class="title">
  <h2>
    <%= flash[:notice] %>
  </h2>
</div>

<div class="border-form">
  <form action="/login" method="post">
    <label for='email_address'>Email Address:
      <input type="email" name="email_address" required>
    </label>
    <br>
    <label for='password'>Password:
      <input type="password" name="password" required>
    </label>
    <br>
    <input class="button" type="submit" value="Log in">
  </form>
</div>

