<link rel="stylesheet" type="text/css" href="/style.css">

<nav class='nav'>
  <a href='/login'>Login</a>
</nav>

<div class="title">
  <h1>Sign up</h1>
<div>

<div class="border-form">
  <form action="/" method="post">
    <label for='email_address'>Email Address:
      <input type="email" name="email_address" required>
    </label>
    <br>
    <label for='password'>Password:
      <input type="password" name="password" required>
    </label>
    <br>
    <input class="button" type="submit" value="Sign up">
  </form>
</div>

