<h1>Sign up</h1>

<a href='/login'>Login</a>


<form action="/">
  <label for='email_address'>Email Address:
    <input type="text" name="email_address">
  </label>
  <br>
  <label for='password'>Password:
    <input type="text" name="password">
  </label>
  <br>
  <input type="submit" value="Sign up">
</form>
