<nav>
    <a href="/spaces">Spaces</a>|<a href="/requests">Requests</a>|<a href="/">Sign out</a>
</nav>
<div>
    <h1>Book a Space</h1>
    <a href="/spaces/new">List a Space</a>
</div>
<div>
    <ul>
      <% @spaces.each do |space| %>
        <li>
            <div>
                <h3><%= space[0] %></h3>
                <p><%= space[1] %>, £<%= space[2] %></p>
            </div>
        </li>
      <% end %>
    </ul>
</div>

